$yx-blue-btn: #0d50d8;           // 蓝色（主色：按钮）
$yx-blue-link: #2f79ff;          // 蓝色（主色：文字、链接、买入）
$yx-blue: #0bc0f1;                // 蓝色
$yx-yellow: #ffbf32;             // 黄色
$yx-red: #ea3d3d;                 // 红涨
$yx-green: #00ba60;               // 绿跌
$yx-backgound: #121212; //#121216;          // 灰色系 - 背景、分割线
$yx-foreground: #17181d;         // 灰色系 - 前景
$yx-font-white-1: #ebebeb;          // 灰色系 - (白色)一级文字
$yx-font-white-2: #979797; // 灰色系 - (白色)二级文字
$yx-font-white-3: #6d6d6d; // 灰色系 - (白色)三级文字
$yx-font-white-4: #434343; // 灰色系 - (白色)四级文字
$yx-border-white: rgba($yx-font-white-1, 0.05); // 灰色系 - (白色)分割线
$yx-font-black-1: #191919;          // 灰色系 - (黑色)一级文字
$yx-font-black-2: rgba($yx-font-black-1, 0.65); // 灰色系 - (黑色)二级文字
$yx-font-black-3: rgba($yx-font-black-1, 0.45); // 灰色系 - (黑色)三级文字
$yx-font-black-4: rgba($yx-font-black-1, 0.2); // 灰色系 - (黑色)四级文字
$yx-border-black: rgba($yx-font-black-1, 0.05); // 灰色系 - (黑色)分割线
$yx-shade: rgba($yx-font-black-1, 0.5);          // 灰色系 - 遮罩弹层
$yx-sub-blue: #2177ff;            // 辅助色 - 蓝色
$yx-sub-yellow: #ffba00;         // 辅助色 - 黄色
$yx-sub-green: #41ca1e;          // 辅助色 - 绿色
$yx-sub-orange: #ff7127;         // 辅助色 - 桔色
$yx-sub-purple: #7a5cff;         // 辅助色 - 紫色
$yx-sub-khaki: #d0b471;          // 辅助色 - 卡其色
